<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="APICEP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<appSettings>
		<add key="provider" value="MYSQL" />
		<add key="server" value="127.0.0.1" />
		<add key="database" value="apicep" />
		<add key="user" value="root" />
		<add key="password" value="7ewp5m" />
	</appSettings>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="AtendeClienteServiceSoapBinding">
					<security mode="Transport" />
				</binding>
				<binding name="AtendeClienteServiceSoapBinding1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
		</client>
	</system.serviceModel>
 <userSettings>
  <APICEP.Properties.Settings>
   <setting name="Configuração" serializeAs="String">
    <value />
   </setting>
  </APICEP.Properties.Settings>
 </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>